<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="Author" content="Mike Irving - https://www.mike-irving.co.uk/">
    <meta name="Copyright" content="&copy; Mike Irving">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css?v=2022-11-29-1">
    <script src="js/jquery-3.6.1.min.js"></script>
    <script src="js/jquery-fitvids.js"></script>
    <script src="js/scripts.js?v=2022-29-11-1"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-S0ZWQQWC37"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-S0ZWQQWC37');
	</script>
</head>
<body>
<div class="page">
	<section id="main">
        <section id="content">
			<header>
				<div class="headerMob">
					<img src="/images/hedgehog-l-to-r.png" alt="hedgehog">
					<h1><a href="/">Macclesfield Hedgehogs</a></h1>
					<div id="menu" class="btnMenu"></div>
				</div>
				<div class="headerFull">
					<div class="headerFullLeft">
						<img src="/images/hedgehog-l-to-r.png" alt="hedgehog">
					</div>
					<div class="headerFullMiddle">
						<h1>Macclesfield Hedgehogs</h1>
						<nav class="navFull">
							<div class="navHolder">
								<ul>
									<li><a class="nav-link-home" href="/">Home</a></li>
					                <li><a class="nav-link-about" href="/about">About</a></li>
                                    <li><a class="nav-link-footage" href="/footage">Footage</a></li>
                                    <li><a class="nav-link-cameras" href="/cameras">Cameras</a></li>
								</ul>
							</div>
						</nav>
					</div>
					<div class="headerFullRight">
						<img src="/images/hedgehog-r-to-l.png" alt="hedgehog">
					</div>
				</div>
			</header>
		<nav class="navMob">
			<div class="navHolder">
				<ul>
					<li><a class="nav-link-home" href="/">Home</a></li>
					<li><a class="nav-link-about" href="/about">About</a></li>
					<li><a class="nav-link-footage" href="/footage">Footage</a></li>
                    <li><a class="nav-link-cameras" href="/cameras">Cameras</a></li>
				</ul>
			</div>
		</nav>
		<section id="contentDiv"></section>
		<section id="contentEnd">
			<hr>
			<div class="shares">
				<label>.. share this page ..</label>
				<div>
					<img src="/images/facebook.png" alt="Facebook icon" title="Share on Facebook" onclick="ShareSocial('facebook')">
					<img src="/images/linkedin.png" alt="LinkedIn icon" title="Share on LinkedIn" onclick="ShareSocial('linkedin')">
					<img src="/images/twitter.png" alt="Twitter icon" title="Share on Twitter" onclick="ShareSocial('twitter')">
				</div>
			</div>
			<a class="button-link top" onclick="ScrollToTop()">Back To Top</a></p>
		</section>
		<div class="loading"></div>
	</section>
	<footer>
		<p>&copy; <span id="footerYear"></span> <a class="external" target="_blank" href="https://www.mike-irving.co.uk/">Mike Irving</a></p>
	</footer>
</div>
<script>
    FirstLoad();
</script>
</body>
</html>